#entireCart{
display: grid;
grid-template-columns: 1fr 250px;

}
.smallText{
  font-size: 13px;
  margin: -10px -7px 0px 0px;
}
.meddleSizeText{
font-size: 15px;
font-weight: 400;
color: #000000;
}
#shoppingCart{
  border: solid 1px rgb(165, 165, 165);
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  margin: 0px 10px;
  flex: 1;
}
#checkoutDiv{
  max-width: 250px;
  margin-right: 8px;
  max-height: 120px;
  border: solid 1px rgba(136, 136, 136, 0.877);
}
#topElm{
  flex: 1;
  padding-left: 8px;
  border-bottom: solid 1px rgba(136, 136, 136, 0.877);
}
#meddleElm{
  flex: 2;
  display: flex;
  flex-direction: column;
  padding-left: 8px;
  border-bottom: solid 1px rgba(136, 136, 136, 0.877);
  padding-bottom: 5px;
  margin-top: 7px;
}
.CartItem{
  display: flex;
  flex-direction: row;
  margin-bottom: 13px;
  border-bottom: solid 1px rgba(136, 136, 136, 0.877);
  padding-bottom: 5px;
}
.productDisc{
font-size: 17px;
font-weight: 500; 
padding-right: 7px; 
}
.removeButton{
  display: flex;
  column-gap: 20px;
  font-weight: 500;
}
.removeButton button{
  border-radius: 20px;
  border: solid 1px rgba(71, 71, 71, 0.877);
  transition: background-color 0.3s;
  font-weight: 500;
  font-size: 15px;
  cursor: pointer;
  max-height: 40px;
  margin-top: 7px;
  padding: 0px 9px;
}
.removeButton button:hover{
background-color: rgb(229, 229, 229);
}

#cartImgCon{
  max-width: 370px;
  min-width: 370px;
  margin-right: 8px;
}
#cartImgCon img{
  width: 100%;
}
#meddleELmCon{
flex: 1;
}
#bottomElm{
  flex:1;
  padding-right: 10px;
  text-align: right;
  font-size: 16px;
  font-weight: 500;
  padding-bottom: 15px;
  padding-top: 15px;
}
#avaibalityText{
  color: #007600;
}
#checkoutDiv{
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  padding: 10px 27px;
  max-height: 140px;
}
#totalPriceText{
  font-size: 16px;
  font-weight: 500;
}
.red{
  color: rgb(165, 0, 0);
}
#checkouBtn{
  background-color: rgb(236, 236, 6);
  border-radius: 10px;
  border: solid 1px rgba(136, 136, 136, 0.877);
  align-self: center;
  padding: 2px 28px;
  white-space: nowrap;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 0.2s;
}
#checkouBtn:hover{
  background-color: rgb(218, 218, 3);
}
#otherProducts{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr ;
  padding: 0px 20px;
  column-gap: 10px;
  row-gap: 10px;
  margin-bottom: 30px;
  border-top: solid 1px rgba(136, 136, 136, 0.877);
  padding-top: 10px;
}
#product{
border-left: solid 1px black;
padding-left: 10px;
transition: box-shadow 0.3s;
}
#product:hover{
box-shadow: 0px 2px 2px black;
}
#otherProducts a{
  text-decoration: none;
  color: #000000;
}
#otherProducts button{
  transition: background-color 0.2s;
}
#otherProducts button:hover{
  background-color: rgb(216, 216, 0);
}
#lowerHalf{
  margin-top: 10px;
  border-top: solid 1px rgba(136, 136, 136, 0.877);
}
#lowerHalf h3{
  padding-left: 10px;
  font-size: 21px;
}
#lowerHalf h4{
  margin-bottom: -2px;
  color: #B59410;
}
#otherProducts button{
  background-color: rgb(236, 236, 6);
  border-radius: 10px;
  border: solid 1px rgba(136, 136, 136, 0.877);
  align-self: center;
  padding: 2px 20px;
  white-space: nowrap;
  font-size: 15px;
  cursor: pointer;
  margin-bottom: 6px;
}
.cartSec{
  display: flex;
  column-gap: 10px;
}
.cartSec p{
  font-weight: 500;
}
@media(max-width:1200px){
#entireCart{
    display: flex;
    flex-direction: column;
    row-gap: 14px;
  }
  #checkoutDiv{
    max-width: 500px;
    align-self: center;
    padding: 20px 70px 120px 70px;
    white-space: nowrap;
  } 
}


@media(max-width:850px){
#otherProducts{
  grid-template-columns: 1fr 1fr;
}
}
@media(max-width:670px){
  .CartItem{
    display: flex;
    flex-direction: column;
    padding-bottom: 7px;
    margin-bottom: 13px;
    border-bottom: solid 1px rgba(136, 136, 136, 0.877);
  }
  #cartImgCon{
    max-width: 550px;
    min-width: 200px;
    align-self: center;
  }
}
