.productImg{
  width: 100%;
  border-radius: 1px;
}
#products{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 16px;
  column-gap: 22px;
  width: 100%;
  padding: 0px 6px;
}
.product{
    color: #1f1f1f;
    margin: 0px 5px;
    border-left: solid 1px black;
    border-bottom: solid 1px black;
    transition: box-shadow 0.2s ;
    padding-left: 9px;
    padding-bottom: 10px;
}
.product button{
  padding: 3px 11px;
  font-size: 16px;
  border-radius: 27px;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  cursor: pointer;
  background-color: rgb(231, 231, 0);
  color: black !important;
  border: solid 1px rgba(136, 136, 136, 0.877);
  transition: background-color 0.2s;
}
.product button:hover{
background-color: rgb(214, 214, 1);
}
.product:hover{
  box-shadow: 0px 2px 2px black;
}
.product p{
    font-size: 16px;
    font-weight: 550;
    margin-left: 7px;
}
#price{
  font-size: 18px;
  font-weight: bold;
  color: rgb(177, 0, 0);
}
.product h3{
  font-size: 18px;
  font-weight: 600;
  margin-left: 7px;
  color: #B59410;
}
@media(max-width:950px){
  #products{
    grid-template-columns: 1fr 1fr;
    column-gap: 14px;
  }
}
  @media(max-width:550px){
    #products{
      grid-template-columns: 1fr;
    }
  }