.productImg{
  width: 100%;
  border-radius: 1px;
}
#products{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 16px;
  column-gap: 22px;
  width: 100%;
}
.product{
    color: #1f1f1f;
    margin: 0px 5px;
    box-shadow: 0px 5px 3px black;
    transition: box-shadow 0.3s ;
}
.product:hover{
  box-shadow: 0px 5px 6px black;
}
.product p{
    font-size: 16px;
    font-weight: 550;
    margin-left: 7px;
}
.product h3{
  font-size: 18px;
  font-weight: 600;
  margin-left: 7px;
  color: #B59410;
}

@media(max-width:950px){
  #products{
    grid-template-columns: 1fr 1fr;
    column-gap: 14px;
  }
}
  @media(max-width:550px){
    #products{
      grid-template-columns: 1fr;
    }
  }